/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
   --med-peach: #EB934F;
   --mid-dark-peach: #D9905F;
   --off-red-peach: #F66047;
   --honey-mustard-yellow: #F8D668;
   --white: #fff;
   --black: #000;
   --eggshell: #F7EED0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'outfit', sans-serif;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 300;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

p,
a,
link,
span {
    font-family: 'outfit', sans-serif;
    font-weight: 300;
}

a {
    color: var(--black);
    text-decoration: none;
}

body {
    background-color: var(--eggshell);
}

button {
    color: var(--med-peach);
    background-color: var(--white);
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 25px;
    border: 2px var(--med-peach) solid;
}

button:hover {
    color: var(--white);
    background-color: var(--med-peach);
    border: 2px var(--white) solid;
}

.page-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(50px, 1fr));
    grid-template-rows: repeat(5, minmax(50px, 1fr));
    padding: 20px 100px;
}

.page-container > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

.title {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
}

.input-control {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
}

.score-box {
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
}

.buttons,
.results {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.result-box {
    padding: 5px 20px;
    margin: 5px;
    background-color: var(--white);
    border: 2px var(--med-peach) solid;
    border-radius: 25px;
}

.result-box h2 {
    font-size: 1.3rem;
}

.footer-info {
    grid-column: 1 / span 12;
    grid-row: 5 / span 1;
}

.footer-info a:hover {
    color: var(--mid-dark-peach);
}